#turn {
    width: 150px;
    height: 150px;
}

#candling {
    width: 150px;
    height: 150px;
}

#heater {
    width: 150px;
    height: 150px;
}

button {
    cursor: pointer;
}

label {
    display: block;
}

#cam {
    width: 320px;
    height: 240px;
}

#chatbox {
    position: fixed;
    height: 40%;
    right: 10px;
    bottom: 10px;
}

#sponsors {
    position: fixed;
    right: 10px;
    top: 10px;
    width: 250px;
    max-height: 40%;
}

#cbox {
    position: relative;
    height: 90%;
    padding-top: 10px;
}

#chart-div {
    position: fixed;
    width: 200px;
    right: 280px;
    top: 10px;
    
}

#chart {
    width: 100%;
    height: 100%;
    border-style: solid;
    border-width: 5px;
    border-color: black;
}

#contact {
    position: relative;
    float: left;
}

.fa-cog {
    color: black;
}

.fa {
    color : black;
  }

@media (orientation:portrait) {
    #chart-div {
        position: fixed;
        width: 200px;
        right: 60px;
        top: 360px;
    }
}

#side-bar {
    position: fixed;
    z-index: 0;
}

@media only screen and (max-width: 940px) {
    #side-bar {
        display: none;
    }
}

#incubator-gallery {
    width: 450px;
}

.incubator-img {
    position: relative;
    width: 100%;
    border-style: solid;
    border-width: 5px;
    border-color: black;
    cursor: pointer;
    transition: 0.3s;
}

.incubator-img:hover {opacity: 0.7;}

#main {
    z-index: 5;
}

#info-div {
    position: absolute;
    left: 340px;
    width: 310px;
}

#info-block {
    display: none;
    width: 350px;
    height: 255px;
    overflow: auto;
}

#help {
    margin-top: 10px;
}

#temp-info {
    color: red;
    padding-left: 10px;
}

.inline {
    display: inline-block;
}



